body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/*  Home    */
.navbar{
   padding-top: 30px;
   width: auto;

}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    padding: 10px 30px;
    margin: auto;
}
.navbar-brand-logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
}
.nav-item a{
font-size: 1rem;
font-weight: bold;
}
.navbar-nav {
    margin-left: auto;
}
.cart {
   display: flex;
   flex-direction: column;
    margin-left: auto;
}
.search{
    display: flex;
    justify-content: center;
}
/*  Products    */
.main-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.content {
    flex: 1;
    margin-left: 280px; 
    padding: 20px;
    margin-top: 56px; 
}
.content-home {
    display: flex;
    flex: 1; 
}
main{
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
}
.aside{
    width: 260px;
    background-color: #0e0e0e;
}

/*  Contact Us    */

.contact-us{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    padding: 40px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2f;
}
.contact-layout {
    display: flex;
    flex-direction: row;
    background-color: yellow;
    height: auto;
    width: 100%;
  }
.contact-form{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    max-width: 50%;

}
.contact-data{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    max-width: 50%;
 }
.form-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.form-subtitle{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.form-last{
    font-size: 0.6rem;
    margin-top: 3px;
    font-weight: bold;
    color: red;
    font-style: italic;
}
.contact-data img {
    max-width: 100%;
    height: 50%;
}

/*  Header    */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure header is on top */
  }

/*  Footer    */
.Footer{
    width: 100%;
}
.Footer a {
    color: white;
  }

.Footer a:hover {
    color: #adb5bd;
}
.footer-container {
    margin-top: auto; /* Push the footer to the bottom */
    width: 100%;
  }
