body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/*  Home    */
.navbar{
   padding-top: 30px;
   width: auto;

}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    padding: 10px 30px;
    margin: auto;
}
.navbar-brand-logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
}
.nav-item a{
font-size: 1rem;
font-weight: bold;
}
.navbar-nav {
    margin-left: auto;
}
.cart {
   display: flex;
   flex-direction: column;
    margin-left: auto;
}
.search{
    display: flex;
    justify-content: center;
}
/*  Products    */
.main-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.content {
    flex: 1;
    margin-left: 280px; 
    padding: 20px;
    margin-top: 56px; 
}
.content-home {
    display: flex;
    flex: 1; 
}
main{
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
}
.aside{
    width: 260px;
    background-color: #0e0e0e;
}

/*  Contact Us    */

.contact-us{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    padding: 40px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2f;
}
.contact-layout {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}
.contact-form{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    max-width: 50%;
}
.contact-data{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    max-width: 50%;
    background-color: #0e0e0e;
 }
.form-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2px;
}
.form-subtitle{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.form-last{
    font-size: 0.6rem;
    margin-top: 3px;
    font-weight: bold;
    color: red;
    font-style: italic;
}
.contact-data img {
    max-width: 100%;
    height:auto;
}
.overlay-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
}
.overlay-subtext-container {
    position: absolute;
    top: 25%; 
    left: 10%; 
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
.overlay-subtext {
    display: block; 
    text-decoration: none;
    margin-top: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.image-container{
    position: relative;
    width: 100%;
    margin-top: 20px;
    height: auto;
}
.contact-map{
    width:100%; 
    height:600px;
    border:0px;
}

/* Abour Us*/
.about-us{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    padding: 40px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2f;
}
.about-image-container img{
    height: 600px;
    width: 100%;
}
.overlay-text-about {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
}
.overlay-subtext-container-about {
    position: absolute;
    top: 35%; 
    left: 10%; 
    max-width: 500px;
    color: white;
    font-size: 1rem;
    display: flex;
    padding: 5px;
    flex-direction: column;
    background-color: #1c263166;
}
.overlay-subtext {
    margin-top: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.A-tab title{
    font-size: large;
}

.conatainer-card{
    background-color: #b2282824;
    height: auto;
    width: 100%;
    border: #0e0e0e solid 3px;
    border-radius: 20px;
}
/*  Header    */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure header is on top */
  }

/*  Footer    */
.Footer{
    width: 100%;
}
.Footer a {
    color: white;
  }

.Footer a:hover {
    color: #adb5bd;
}
.footer-container {
    margin-top: auto; /* Push the footer to the bottom */
    width: 100%;
  }
 
  /* contact pageemedia queries*/
@media (max-width: 1100px) {
    .image-container img {
        content: url('/SmallBanner/smallerimg.jpg'); 
        height:100%;
    }
}

/* For Medium Screens*/
@media (max-width: 768px) {
    .overlay-text {
        font-size: 1rem; /* Reduce font size on smaller screens */
        top: 5%; /* Adjust positioning */
    }

    .overlay-subtext-container {
        bottom: 5%; /* Adjust positioning */
        left: 5%; /* Adjust positioning */
    }
    .image-container img {
        content: url('/SmallBanner/smallerimg.jpg'); 
    }

    .overlay-subtext {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
        margin-top: 8px; /* Adjust spacing */
    }
}
/* For Smaller Screens*/
@media (max-width: 530px) {
    .overlay-text {
        font-size: 0.8rem; /* Further reduce font size */
        top: 3%; /* Adjust positioning */
    }

    .overlay-subtext-container {
        bottom: 3%; /* Adjust positioning */
        left: 3%; /* Adjust positioning */
    }

    .overlay-subtext {
        font-size: 0.8rem; /* Adjust font size for smaller screens */
        margin-top: 5px; /* Adjust spacing */
    }
}